.menu_footer {
  background-image: repeating-linear-gradient(
    90deg,
    #e20c21 0%,
    #680ba1 51%,
    #0f13fd 100%
  );
  -webkit-box-shadow: 4px 4px 4px 7px rgba(114, 114, 114, 0.77);
  -moz-box-shadow: 4px 4px 4px 7px rgba(114, 114, 114, 0.77);
  box-shadow: 4px 4px 4px 7px rgba(114, 114, 114, 0.77);
}
.font_25 {
  font-size: 25px;
}

.font_22 {
  font-size: 22px;
}

.font_12 {
  font-size: 12px;
  margin-bottom: 1px;
}

.menu_footer_selected {
  border-bottom: 5px solid #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header_sombras {
  -webkit-box-shadow: 1px 1px 10px 1px rgba(114, 114, 114, 0.77);
  -moz-box-shadow: 1px 1px 10px 1px rgba(114, 114, 114, 0.77);
  box-shadow: 1px 1px 10px 1px rgba(114, 114, 114, 0.77);
}

.background_calendar {
  background-image: url("https://img.icons8.com/material-outlined/96/000000/calendar--v1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.font_10 {
  font-size: 10px;
}

.btn_header_left {
  margin-right: -5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 0px;
}

.btn_header_right {
  border-top-left-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 15px;
}

.larg_max_300 {
  max-width: 300px;
}

.larg_max_250 {
  max-width: 250px;
}

.search_events_input {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #0f13fd;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.search_events_input:hover {
  border-color: #0f13fd;
}

.icon_smile {
  position: relative;
  z-index: 50;
}

.display_heart {
  background-color: rgba(255, 255, 255, 0.59);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 50;
}

.row_alerts_subscription {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}

.subscription_content_thumbnail_title {
  background-color: rgba(255, 255, 255, 0.59);
  z-index: 10;
  position: relative;
  margin-top: -24px;
  margin-right: 2px;
}

.option_selected_subscription {
  border-color: #0f13fd;
  border-bottom-style: solid;
  color: #0f13fd;
}

.btn_header_middle {
  margin-right: -5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.login_icon {
  font-size: 70px;
}

.social_media_icon {
  font-size: 30px;
}

.larg_max_425 {
  max-width: 425px;
}

.add_picture_style {
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn_header_left.size_right_btn {
}

.invitefriend_icon {
  font-size: 18px;
}

.spinner_design {
  color: #e20c21;
}

.calendar_thumbnail {
  border-width: 1px;
  border-style: none solid solid;
  border-top: 15px solid #f00;
}

.wappler-temp {
}

.image_thumbnail {
  max-height: 125px;
}

.col_img_thumb {
  display: block;
}

.text_event_title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.responsive_content_view {
  height: 100vh;
  max-width: 425px;
  overflow: auto;
}

@media (min-width: 768px) {
  .responsive_content_view {
    border-width: 3px;
    border-style: solid;
  }
}

.font_15 {
  font-size: 15px;
}

.font_13 {
}

.font_14 {
  font-size: 14px;
}

.font_50 {
  font-size: 50px;
}

.font_60 {
  font-size: 60px;
}

.font_70 {
  font-size: 70px;
}

.font_35 {
  font-size: 35px;
}

.row_slider_vertical {
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: auto;
  max-height: 250px;
}

.pointer {
  cursor: pointer;
}

@media (max-width: 992px) {
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    scrollbar-width: thin;
  }
}

.subs_marked_row {
  margin-bottom: -23px;
  z-index: 50;
  position: relative;
}

.border_iframe {
  border-width: 4px;
  border-style: solid;
}

.center {
  text-align: center;
}

.trash_subscription_content {
  position: relative;
  margin-bottom: -19px;
}

.calendar {
  @media (max-width: 768px) {
    .fc-toolbar .fc-left,
    .fc-toolbar .fc-center,
    .fc-toolbar .fc-right {
      display: inline-block;
      float: none !important;
    }
  }
}

.fc-prev-button {
  display: none;
}
.fc-next-button {
  display: none;
}
.fc-today-button {
  display: none;
}
