<!doctype html>
<html>

<head>
    <base href="/">
    <script src="/dmxAppConnect/dmxAppConnect.js"></script>
    <meta charset="UTF-8">
    <title>DanceID</title>

    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/fontawesome5/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" integrity="sha384-NUDU7Qr8dfscXBIhA0px/bRl3cgNrOT9l/WPm15DzH5xnBs4fL4vgRiXURs98/ID" crossorigin="anonymous" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="/dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js"></script>
    <script src="/dmxAppConnect/dmxBrowser/dmxBrowser.js"></script>
    <script src="/dmxAppConnect/dmxBootstrap5Modal/dmxBootstrap5Modal.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBootstrap5Offcanvas/dmxBootstrap5Offcanvas.js" defer=""></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxDatePicker/daterangepicker.min.css" />
    <script src="/dmxAppConnect/dmxDatePicker/daterangepicker.min.js" defer=""></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxDatePicker/dmxDatePicker.css" />
    <script src="/dmxAppConnect/dmxDatePicker/dmxDatePicker.js" defer=""></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxBootstrap5TableGenerator/dmxBootstrap5TableGenerator.css" />
    <link rel="stylesheet" href="/dmxAppConnect/dmxPreloader/dmxPreloader.css" />
    <script src="/dmxAppConnect/dmxPreloader/dmxPreloader.js"></script>
    <script src="/dmxAppConnect/dmxFormatter/dmxFormatter.js" defer=""></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxLightbox/dmxLightbox.css" />
    <script src="/dmxAppConnect/dmxLightbox/dmxLightbox.js" defer=""></script>
    <script src="/dmxAppConnect/dmxImageParallax/dmxImageParallax.js"></script>
    <!-- Input Mask -->

    <script src="/dmxAppConnect/plentz-jquery-maskmoney-cdbeeac/src/jquery.maskMoney.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxAutocomplete/dmxAutocomplete.css" />
    <script src="/dmxAppConnect/dmxAutocomplete/dmxAutocomplete.js" defer=""></script>
    <script src="/dmxAppConnect/dmxBootstrap5Toasts/dmxBootstrap5Toasts.js"></script>
    <script src="/dmxAppConnect/dmxStateManagement/dmxStateManagement.js"></script>
    <script src="/dmxAppConnect/dmxVideo/dmxVideo.js"></script>
    <link rel="stylesheet" href="/dmxAppConnect/dmxDropzone/dmxDropzone.css" />
    <script src="/dmxAppConnect/dmxDropzone/dmxDropzone.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/core@4.4.2/main.min.css" />
    <script src="https://unpkg.com/@fullcalendar/core@4.4.2/main.min.js" defer=""></script>
    <script src="https://unpkg.com/@fullcalendar/core@4.4.2/locales-all.min.js" defer=""></script>
    <script src="https://unpkg.com/@fullcalendar/interaction@4.4.2/main.min.js" defer=""></script>
    <script src="https://unpkg.com/@fullcalendar/daygrid@4.4.2/main.min.js" defer=""></script>
    <script src="/dmxAppConnect/dmxCalendar/dmxCalendar.js" defer=""></script>
</head>

<body is="dmx-app" id="main">

    <div class="container" id="ctn_data_main">
        <dmx-session-manager id="session_main"></dmx-session-manager>
        <dmx-serverconnect id="sc_get_users" url="/api/dummies/get_users"></dmx-serverconnect>
        <dmx-array id="arr_teachers_event"></dmx-array>
        <dmx-array id="arr_scanners_event"></dmx-array>
        <dmx-array id="arr_promoters_event"></dmx-array>
        <dmx-array id="arr_event_types"></dmx-array>
        <dmx-value id="var_footer_menu"></dmx-value>
        <dmx-value id="var_passo_new_event" dmx-bind:value="1"></dmx-value>

    </div>
    <div is="dmx-view" id="content">
        <%- await include(content, locals); %>
    </div>





    <div class="container-fluid" id="ctn_components_main">
        <footer class="d-md-none fixed-bottom" id="footer_mobile">
            <div class="container-fluid pt-1 pb-1 border-top border-bottom bg-white" dmx-show="(var_footer_menu.value == 'account') || (toggle_footer_rating.checked)">
                <dmx-toggle id="toggle_footer_rating"></dmx-toggle>
                <div class="row">
                    <div class="col align-self-center">
                        <h6 class="font_12 mb-0">Comments From Previous Events</h6>
                    </div>
                    <div class="text-start text-muted small ps-0 pe-0 col-3">
                        <i class="bi-emoji-dizzy"></i>
                        <i class="bi-emoji-frown"></i>
                        <i class="bi-emoji-neutral "></i>
                        <i class="bi-emoji-smile text-primary"></i>
                        <i class="bi-emoji-heart-eyes"></i>
                    </div>
                    <div class="col-2 text-center">
                        <i class="bi-arrow-down-up" dmx-on:click="offcanvas_comments.toggle()"></i>
                    </div>
                </div>
            </div>
            <div class="container pb-3 larg_max_250 text-center" dmx-show="(var_footer_menu.value=='booked') || (var_footer_menu.value=='alerts')">
                <input id="text2" name="text2" type="text" class="form-control search_events_input text-center" placeholder="Search event">
            </div>
            <div class="text-light pt-1 pb-1 menu_footer container-fluid">
                <div class="row">
                    <div class="col text-center">
                        <div class="d-block" dmx-class:menu_footer_selected="var_footer_menu.value=='booked'" dmx-on:click="browser_main.goto('/')"><i class="bi-bookmarks font_22"></i>
                            <h6 class="font_12 mb-0">Booked</h6>
                        </div>


                    </div>
                    <div class="col text-center">
                        <div class="d-block" dmx-class:menu_footer_selected="var_footer_menu.value=='alerts'" dmx-on:click="browser_main.goto('/alerts')"><i class="bi-bell font_22"></i>
                            <h6 class="font_12 mb-0">Alerts</h6>
                        </div>


                    </div>
                    <div class="col text-center">
                        <div class="d-block" dmx-class:menu_footer_selected="var_footer_menu.value=='browser'" dmx-on:click="browser_main.goto('/browse/browse_main_page')"><i class="bi-search font_22"></i>
                            <h6 class="font_12 mb-0">Browse</h6>
                        </div>



                    </div>
                    <div class="col text-center">
                        <div class="d-block" dmx-class:menu_footer_selected="var_footer_menu.value=='account'" dmx-on:click="browser_main.goto('account/mainpage_as_user')"><i class="bi-person-bounding-box font_22"></i>
                            <h6 class="font_12 mb-0">Account</h6>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <div is="dmx-bs5-toasts" id="toasts_main"></div>


        <div is="dmx-browser" id="browser_main"></div>
        <dmx-lightbox id="lightbox_main"></dmx-lightbox>
        <div class="offcanvas offcanvas-bottom h-100 w-auto" id="offcanvas_comments" is="dmx-bs5-offcanvas" tabindex="-1" scroll="true">
            <div class="offcanvas-header pt-2 pb-2">
                <h5 class="offcanvas-title">Comments</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body pt-0">
                <div class="row pt-1 pb-1 border-bottom border-top">
                    <div class="text-muted col-2 text-center align-self-center">
                        <i class="fas fa-user-circle fa-2x"></i>
                    </div>
                    <div class="ps-0 pe-0 col-6">
                        <h6 class="font_12">User Name</h6>
                        <h6 class="font_10">Here Goes the comment posted in previous events from the same person</h6>
                    </div>
                    <div class="text-muted small col-4 text-center align-self-center">
                        <i class="bi-emoji-dizzy"></i>
                        <i class="bi-emoji-frown"></i>
                        <i class="bi-emoji-neutral "></i>
                        <i class="bi-emoji-smile text-primary"></i>
                        <i class="bi-emoji-heart-eyes"></i>
                        <h6 class="text-body mt-2 mb-0 font_12">12 Nov 2018</h6>
                    </div>
                </div>
                <div class="row pt-1 pb-1 border-bottom border-top">
                    <div class="text-muted col-2 text-center align-self-center">
                        <i class="fas fa-user-circle fa-2x"></i>
                    </div>
                    <div class="ps-0 pe-0 col-6">
                        <h6 class="font_12">User Name</h6>
                        <h6 class="font_10">Here Goes the comment posted in previous events from the same person</h6>
                    </div>
                    <div class="text-muted small col-4 text-center align-self-center">
                        <i class="bi-emoji-dizzy"></i>
                        <i class="bi-emoji-frown"></i>
                        <i class="bi-emoji-neutral "></i>
                        <i class="bi-emoji-smile text-primary"></i>
                        <i class="bi-emoji-heart-eyes"></i>
                        <h6 class="text-body mt-2 mb-0 font_12">12 Nov 2018</h6>
                    </div>
                </div>
                <div class="row pt-1 pb-1 border-bottom border-top">
                    <div class="text-muted col-2 text-center align-self-center">
                        <i class="fas fa-user-circle fa-2x"></i>
                    </div>
                    <div class="ps-0 pe-0 col-6">
                        <h6 class="font_12">User Name</h6>
                        <h6 class="font_10">Here Goes the comment posted in previous events from the same person</h6>
                    </div>
                    <div class="text-muted small col-4 text-center align-self-center">
                        <i class="bi-emoji-dizzy"></i>
                        <i class="bi-emoji-frown"></i>
                        <i class="bi-emoji-neutral "></i>
                        <i class="bi-emoji-smile text-primary"></i>
                        <i class="bi-emoji-heart-eyes"></i>
                        <h6 class="text-body mt-2 mb-0 font_12">12 Nov 2018</h6>
                    </div>
                </div>
                <div class="row pt-1 pb-1 border-bottom border-top">
                    <div class="text-muted col-2 text-center align-self-center">
                        <i class="fas fa-user-circle fa-2x"></i>
                    </div>
                    <div class="ps-0 pe-0 col-6">
                        <h6 class="font_12">User Name</h6>
                        <h6 class="font_10">Here Goes the comment posted in previous events from the same person</h6>
                    </div>
                    <div class="text-muted small col-4 text-center align-self-center">
                        <i class="bi-emoji-dizzy"></i>
                        <i class="bi-emoji-frown"></i>
                        <i class="bi-emoji-neutral "></i>
                        <i class="bi-emoji-smile text-primary"></i>
                        <i class="bi-emoji-heart-eyes"></i>
                        <h6 class="text-body mt-2 mb-0 font_12">12 Nov 2018</h6>
                    </div>
                </div>
                <div class="row pt-1 pb-1 border-bottom border-top">
                    <div class="text-muted col-2 text-center align-self-center">
                        <i class="fas fa-user-circle fa-2x"></i>
                    </div>
                    <div class="ps-0 pe-0 col-6">
                        <h6 class="font_12">User Name</h6>
                        <h6 class="font_10">Here Goes the comment posted in previous events from the same person</h6>
                    </div>
                    <div class="text-muted small col-4 text-center align-self-center">
                        <i class="bi-emoji-dizzy"></i>
                        <i class="bi-emoji-frown"></i>
                        <i class="bi-emoji-neutral "></i>
                        <i class="bi-emoji-smile text-primary"></i>
                        <i class="bi-emoji-heart-eyes"></i>
                        <h6 class="text-body mt-2 mb-0 font_12">12 Nov 2018</h6>
                    </div>
                </div>
                <div class="row pt-1 pb-1 border-bottom border-top">
                    <div class="text-muted col-2 text-center align-self-center">
                        <i class="fas fa-user-circle fa-2x"></i>
                    </div>
                    <div class="ps-0 pe-0 col-6">
                        <h6 class="font_12">User Name</h6>
                        <h6 class="font_10">Here Goes the comment posted in previous events from the same person</h6>
                    </div>
                    <div class="text-muted small col-4 text-center align-self-center">
                        <i class="bi-emoji-dizzy"></i>
                        <i class="bi-emoji-frown"></i>
                        <i class="bi-emoji-neutral "></i>
                        <i class="bi-emoji-smile text-primary"></i>
                        <i class="bi-emoji-heart-eyes"></i>
                        <h6 class="text-body mt-2 mb-0 font_12">12 Nov 2018</h6>
                    </div>
                </div>
                <div class="row pt-1 pb-1 border-bottom border-top">
                    <div class="text-muted col-2 text-center align-self-center">
                        <i class="fas fa-user-circle fa-2x"></i>
                    </div>
                    <div class="ps-0 pe-0 col-6">
                        <h6 class="font_12">User Name</h6>
                        <h6 class="font_10">Here Goes the comment posted in previous events from the same person</h6>
                    </div>
                    <div class="text-muted small col-4 text-center align-self-center">
                        <i class="bi-emoji-dizzy"></i>
                        <i class="bi-emoji-frown"></i>
                        <i class="bi-emoji-neutral "></i>
                        <i class="bi-emoji-smile text-primary"></i>
                        <i class="bi-emoji-heart-eyes"></i>
                        <h6 class="text-body mt-2 mb-0 font_12">12 Nov 2018</h6>
                    </div>
                </div>
                <div class="row pt-1 pb-1 border-bottom border-top">
                    <div class="text-muted col-2 text-center align-self-center">
                        <i class="fas fa-user-circle fa-2x"></i>
                    </div>
                    <div class="ps-0 pe-0 col-6">
                        <h6 class="font_12">User Name</h6>
                        <h6 class="font_10">Here Goes the comment posted in previous events from the same person</h6>
                    </div>
                    <div class="text-muted small col-4 text-center align-self-center">
                        <i class="bi-emoji-dizzy"></i>
                        <i class="bi-emoji-frown"></i>
                        <i class="bi-emoji-neutral "></i>
                        <i class="bi-emoji-smile text-primary"></i>
                        <i class="bi-emoji-heart-eyes"></i>
                        <h6 class="text-body mt-2 mb-0 font_12">12 Nov 2018</h6>
                    </div>
                </div>
                <div class="row pt-1 pb-1 border-bottom border-top">
                    <div class="text-muted col-2 text-center align-self-center">
                        <i class="fas fa-user-circle fa-2x"></i>
                    </div>
                    <div class="ps-0 pe-0 col-6">
                        <h6 class="font_12">User Name</h6>
                        <h6 class="font_10">Here Goes the comment posted in previous events from the same person</h6>
                    </div>
                    <div class="text-muted small col-4 text-center align-self-center">
                        <i class="bi-emoji-dizzy"></i>
                        <i class="bi-emoji-frown"></i>
                        <i class="bi-emoji-neutral "></i>
                        <i class="bi-emoji-smile text-primary"></i>
                        <i class="bi-emoji-heart-eyes"></i>
                        <h6 class="text-body mt-2 mb-0 font_12">12 Nov 2018</h6>
                    </div>
                </div>
                <div class="row pt-1 pb-1 border-bottom border-top">
                    <div class="text-muted col-2 text-center align-self-center">
                        <i class="fas fa-user-circle fa-2x"></i>
                    </div>
                    <div class="ps-0 pe-0 col-6">
                        <h6 class="font_12">User Name</h6>
                        <h6 class="font_10">Here Goes the comment posted in previous events from the same person</h6>
                    </div>
                    <div class="text-muted small col-4 text-center align-self-center">
                        <i class="bi-emoji-dizzy"></i>
                        <i class="bi-emoji-frown"></i>
                        <i class="bi-emoji-neutral "></i>
                        <i class="bi-emoji-smile text-primary"></i>
                        <i class="bi-emoji-heart-eyes"></i>
                        <h6 class="text-body mt-2 mb-0 font_12">12 Nov 2018</h6>
                    </div>
                </div>
                <div class="row pt-1 pb-1 border-bottom border-top">
                    <div class="text-muted col-2 text-center align-self-center">
                        <i class="fas fa-user-circle fa-2x"></i>
                    </div>
                    <div class="ps-0 pe-0 col-6">
                        <h6 class="font_12">User Name</h6>
                        <h6 class="font_10">Here Goes the comment posted in previous events from the same person</h6>
                    </div>
                    <div class="text-muted small col-4 text-center align-self-center">
                        <i class="bi-emoji-dizzy"></i>
                        <i class="bi-emoji-frown"></i>
                        <i class="bi-emoji-neutral "></i>
                        <i class="bi-emoji-smile text-primary"></i>
                        <i class="bi-emoji-heart-eyes"></i>
                        <h6 class="text-body mt-2 mb-0 font_12">12 Nov 2018</h6>
                    </div>
                </div>
                <div class="row pt-1 pb-1 border-bottom border-top">
                    <div class="text-muted col-2 text-center align-self-center">
                        <i class="fas fa-user-circle fa-2x"></i>
                    </div>
                    <div class="ps-0 pe-0 col-6">
                        <h6 class="font_12">User Name</h6>
                        <h6 class="font_10">Here Goes the comment posted in previous events from the same person</h6>
                    </div>
                    <div class="text-muted small col-4 text-center align-self-center">
                        <i class="bi-emoji-dizzy"></i>
                        <i class="bi-emoji-frown"></i>
                        <i class="bi-emoji-neutral "></i>
                        <i class="bi-emoji-smile text-primary"></i>
                        <i class="bi-emoji-heart-eyes"></i>
                        <h6 class="text-body mt-2 mb-0 font_12">12 Nov 2018</h6>
                    </div>
                </div>
                <div class="row pt-1 pb-1 border-bottom border-top">
                    <div class="text-muted col-2 text-center align-self-center">
                        <i class="fas fa-user-circle fa-2x"></i>
                    </div>
                    <div class="ps-0 pe-0 col-6">
                        <h6 class="font_12">User Name</h6>
                        <h6 class="font_10">Here Goes the comment posted in previous events from the same person</h6>
                    </div>
                    <div class="text-muted small col-4 text-center align-self-center">
                        <i class="bi-emoji-dizzy"></i>
                        <i class="bi-emoji-frown"></i>
                        <i class="bi-emoji-neutral "></i>
                        <i class="bi-emoji-smile text-primary"></i>
                        <i class="bi-emoji-heart-eyes"></i>
                        <h6 class="text-body mt-2 mb-0 font_12">12 Nov 2018</h6>
                    </div>
                </div>
                <div class="row pt-1 pb-1 border-bottom border-top">
                    <div class="text-muted col-2 text-center align-self-center">
                        <i class="fas fa-user-circle fa-2x"></i>
                    </div>
                    <div class="ps-0 pe-0 col-6">
                        <h6 class="font_12">User Name</h6>
                        <h6 class="font_10">Here Goes the comment posted in previous events from the same person</h6>
                    </div>
                    <div class="text-muted small col-4 text-center align-self-center">
                        <i class="bi-emoji-dizzy"></i>
                        <i class="bi-emoji-frown"></i>
                        <i class="bi-emoji-neutral "></i>
                        <i class="bi-emoji-smile text-primary"></i>
                        <i class="bi-emoji-heart-eyes"></i>
                        <h6 class="text-body mt-2 mb-0 font_12">12 Nov 2018</h6>
                    </div>
                </div>
                <div class="row pt-1 pb-1 border-bottom border-top">
                    <div class="text-muted col-2 text-center align-self-center">
                        <i class="fas fa-user-circle fa-2x"></i>
                    </div>
                    <div class="ps-0 pe-0 col-6">
                        <h6 class="font_12">User Name</h6>
                        <h6 class="font_10">Here Goes the comment posted in previous events from the same person</h6>
                    </div>
                    <div class="text-muted small col-4 text-center align-self-center">
                        <i class="bi-emoji-dizzy"></i>
                        <i class="bi-emoji-frown"></i>
                        <i class="bi-emoji-neutral "></i>
                        <i class="bi-emoji-smile text-primary"></i>
                        <i class="bi-emoji-heart-eyes"></i>
                        <h6 class="text-body mt-2 mb-0 font_12">12 Nov 2018</h6>
                    </div>
                </div>
                <div class="row pt-1 pb-1 border-bottom border-top">
                    <div class="text-muted col-2 text-center align-self-center">
                        <i class="fas fa-user-circle fa-2x"></i>
                    </div>
                    <div class="ps-0 pe-0 col-6">
                        <h6 class="font_12">User Name</h6>
                        <h6 class="font_10">Here Goes the comment posted in previous events from the same person</h6>
                    </div>
                    <div class="text-muted small col-4 text-center align-self-center">
                        <i class="bi-emoji-dizzy"></i>
                        <i class="bi-emoji-frown"></i>
                        <i class="bi-emoji-neutral "></i>
                        <i class="bi-emoji-smile text-primary"></i>
                        <i class="bi-emoji-heart-eyes"></i>
                        <h6 class="text-body mt-2 mb-0 font_12">12 Nov 2018</h6>
                    </div>
                </div>
                <div class="row pt-1 pb-1 border-bottom border-top">
                    <div class="text-muted col-2 text-center align-self-center">
                        <i class="fas fa-user-circle fa-2x"></i>
                    </div>
                    <div class="ps-0 pe-0 col-6">
                        <h6 class="font_12">User Name</h6>
                        <h6 class="font_10">Here Goes the comment posted in previous events from the same person</h6>
                    </div>
                    <div class="text-muted small col-4 text-center align-self-center">
                        <i class="bi-emoji-dizzy"></i>
                        <i class="bi-emoji-frown"></i>
                        <i class="bi-emoji-neutral "></i>
                        <i class="bi-emoji-smile text-primary"></i>
                        <i class="bi-emoji-heart-eyes"></i>
                        <h6 class="text-body mt-2 mb-0 font_12">12 Nov 2018</h6>
                    </div>
                </div>
                <div class="row pt-1 pb-1 border-bottom border-top">
                    <div class="text-muted col-2 text-center align-self-center">
                        <i class="fas fa-user-circle fa-2x"></i>
                    </div>
                    <div class="ps-0 pe-0 col-6">
                        <h6 class="font_12">User Name</h6>
                        <h6 class="font_10">Here Goes the comment posted in previous events from the same person</h6>
                    </div>
                    <div class="text-muted small col-4 text-center align-self-center">
                        <i class="bi-emoji-dizzy"></i>
                        <i class="bi-emoji-frown"></i>
                        <i class="bi-emoji-neutral "></i>
                        <i class="bi-emoji-smile text-primary"></i>
                        <i class="bi-emoji-heart-eyes"></i>
                        <h6 class="text-body mt-2 mb-0 font_12">12 Nov 2018</h6>
                    </div>
                </div>
                <div class="row pt-1 pb-1 border-bottom border-top">
                    <div class="text-muted col-2 text-center align-self-center">
                        <i class="fas fa-user-circle fa-2x"></i>
                    </div>
                    <div class="ps-0 pe-0 col-6">
                        <h6 class="font_12">User Name</h6>
                        <h6 class="font_10">Here Goes the comment posted in previous events from the same person</h6>
                    </div>
                    <div class="text-muted small col-4 text-center align-self-center">
                        <i class="bi-emoji-dizzy"></i>
                        <i class="bi-emoji-frown"></i>
                        <i class="bi-emoji-neutral "></i>
                        <i class="bi-emoji-smile text-primary"></i>
                        <i class="bi-emoji-heart-eyes"></i>
                        <h6 class="text-body mt-2 mb-0 font_12">12 Nov 2018</h6>
                    </div>
                </div>
                <div class="row pt-1 pb-1 border-bottom border-top">
                    <div class="text-muted col-2 text-center align-self-center">
                        <i class="fas fa-user-circle fa-2x"></i>
                    </div>
                    <div class="ps-0 pe-0 col-6">
                        <h6 class="font_12">User Name</h6>
                        <h6 class="font_10">Here Goes the comment posted in previous events from the same person</h6>
                    </div>
                    <div class="text-muted small col-4 text-center align-self-center">
                        <i class="bi-emoji-dizzy"></i>
                        <i class="bi-emoji-frown"></i>
                        <i class="bi-emoji-neutral "></i>
                        <i class="bi-emoji-smile text-primary"></i>
                        <i class="bi-emoji-heart-eyes"></i>
                        <h6 class="text-body mt-2 mb-0 font_12">12 Nov 2018</h6>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal" id="modal_set_disccount" is="dmx-bs5-modal" tabindex="-1">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <form id="form_set_disccount" method="post" class="ps-3 pe-3">
                            <div class="row">
                                <div class="col text-center border-bottom">
                                    <p class="mb-0 small">Set the percentage of discount that will be applied to every ticket.</p>
                                    <p class="small mb-1">This value can be changed anytime.</p>

                                </div>
                            </div>
                            <div class="row row-cols-3 mt-3">
                                <div class="text-start col-7 ps-1 pe-0">
                                    <div class="form-check">
                                        <input class="form-check-input mt-2" type="checkbox" value="" id="checkbox_modal_set_discount1" name="input1">
                                        <label class="form-check-label col-form-label-sm" for="checkbox_modal_set_discount1">Only for subscribers</label>
                                    </div>
                                </div>
                                <div class="text-start col-3 ps-1 pe-1">
                                    <input id="input_set_discount1" name="text3" type="number" class="form-control form-control-sm">
                                </div>
                                <div class="text-start col-2 pt-1 ps-1">
                                    <p>%</p>
                                </div>

                            </div>
                            <div class="row row-cols-3">
                                <div class="text-start col-7 ps-1 pe-0">
                                    <div class="form-check">
                                        <input class="form-check-input mt-2" type="checkbox" value="" id="checkbox_modal_set_discount2" name="input2">
                                        <label class="form-check-label col-form-label-sm" for="checkbox_modal_set_discount2">For all users</label>
                                    </div>
                                </div>
                                <div class="text-start col-3 ps-1 pe-1">
                                    <input id="input_set_descount2" name="text4" type="number" class="form-control form-control-sm">
                                </div>
                                <div class="text-start col-2 pt-1 ps-1">
                                    <p>%</p>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <button id="btn_cancel_modal_setdiscount" class="btn btn-outline-primary btn-sm w-100" dmx-on:click="form_set_disccount.reset();modal_set_disccount.hide()">Cancel</button>
                                </div>
                                <div class="col">
                                    <button id="btn_done_modal_setdiscount" class="btn btn-sm btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#modal_set_disccount">Done</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal_post_event" is="dmx-bs5-modal" tabindex="-1">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center border-bottom">
                                    <p class="small mb-1">Thank you for create this event,&nbsp; press OK for your event to be Live.</p>


                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center border-bottom">

                                    <p class="small mt-3 mb-1">As soon a user purchase a ticket you can not delete it but you can edit some fields if needed.</p>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <button id="btn_saveforlater_modal_post_event" class="btn btn-outline-primary btn-sm w-100" dmx-on:click="run([{run:{action:`toasts_main.show({message: \'Event saved!\'})`}},{wait:{delay:1000}},{run:{action:`session_main.set(\'event_status\',\'mine\')`}},{run:{action:`browser_main.goto(\'/event\')`}}])">Save for later</button>
                                </div>
                                <div class="col">
                                    <button id="btn_ok_modal_post_event" class="btn btn-sm btn-outline-primary w-100" dmx-on:click="run([{run:{action:`toasts_main.show({message: \'Event posted!\'})`}},{wait:{delay:1000}},{run:{action:`session_main.set(\'event_status\',\'mine\')`}},{run:{action:`browser_main.goto(\'/event\')`}}])">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal_teachers_event" is="dmx-bs5-modal" tabindex="-1">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center">
                                    <p class="small mb-2">Add teachers that will participate in this particular Event</p>
                                    <input id="input_modal_teachers_event" name="text3" type="text" class="form-control form-control-sm" is="dmx-autocomplete" dmx-bind:data="sc_get_users.data.query_users" optiontext="username" placeholder="username" dmx-on:updated="run({condition:{if:`modal_teachers_event.input_modal_teachers_event.value!=0`,then:{steps:[{run:{action:`arr_teachers_event.addUniq(value)`}},{run:{action:`input_modal_teachers_event.setValue(null)`}}]}}})" optionvalue="username">



                                </div>
                            </div>

                            <div class="row mt-3">
                                <p class="small text-center mb-1">Users Added</p>
                                <div class="table-responsive text-center">
                                    <table class="table table-bordered table-sm mb-0">
                                        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="arr_teachers_event.items" id="tableRepeat_teachers_event" key="$key">
                                            <tr>
                                                <td class="small align-middle">{{$value}}</td>
                                                <td class="text-center align-middle">
                                                    <i class="bi-trash text-danger font_15" dmx-on:click="arr_teachers_event.remove($value)"></i>


                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <button id="btn_cancel_modal_teachers" class="btn btn-outline-primary btn-sm w-100" dmx-on:click="arr_teachers_event.empty();modal_teachers_event.hide()">Cancel</button>
                                </div>
                                <div class="col">
                                    <button id="btn_yes_modal_teachers" class="btn btn-sm btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#modal_teachers_event">Yes, I am sure</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal_scanners_event" is="dmx-bs5-modal" tabindex="-1">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center">
                                    <p class="small mb-2">Add trusted users that can scan entrance codes</p>
                                    <input id="input_modal_scanners_event" name="input_modal_scanners_event" type="text" class="form-control form-control-sm" is="dmx-autocomplete" dmx-bind:data="sc_get_users.data.query_users" optiontext="username" placeholder="username" dmx-on:updated="run({condition:{if:`modal_scanners_event.input_modal_scanners_event.value!=0`,then:{steps:[{run:{action:`arr_scanners_event.addUniq(value)`}},{run:{action:`modal_scanners_event.input_modal_scanners_event.setValue(null)`}}]}}})" optionvalue="username">


                                </div>
                            </div>

                            <div class="row mt-3">
                                <p class="small text-center mb-1">Users Added</p>
                                <div class="table-responsive text-center">
                                    <table class="table table-bordered table-sm mb-0">
                                        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="arr_scanners_event.items" id="tableRepeat_scanners_event" key="$key">
                                            <tr>
                                                <td class="small align-middle">{{$value}}</td>
                                                <td class="text-center align-middle">
                                                    <i class="bi-trash text-danger font_15" dmx-on:click="arr_scanners_event.remove($value)"></i>


                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <button id="btn_cancel_modal_scanners" class="btn btn-outline-primary btn-sm w-100" dmx-on:click="arr_scanners_event.empty();modal_scanners_event.hide()">Cancel</button>
                                </div>
                                <div class="col">
                                    <button id="btn_yes_modal_scanners" class="btn btn-sm btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#modal_scanners_event">Yes, I am sure</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal_promoters_event" is="dmx-bs5-modal" tabindex="-1">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row mt-2">
                                <p class="small text-center mb-2">Choose one of the options</p>
                                <hr>
                                <div class="col-12 pb-3">
                                    <div class="row">
                                        <div class="col"><select id="select_promoters_event_options" class="form-select form-control-sm mb-3 font_14">
                                                <option value="1">Euros per ticket sold</option>
                                                <option value="2">Tickets for free entrance</option>
                                            </select></div>
                                    </div>
                                    <div class="row" id="row_modal_promoters_event_euros_per_sold" dmx-show="select_promoters_event_options.selectedValue==1">
                                        <div class="col-4">
                                            <input id="inp_modal_promoters_event_euros" name="inp_modal_promoters_event_euros" type="text" class="form-control form-control-sm" data-thousands="." data-decimal="," data-prefix="Є ">
                                        </div>
                                        <div class="col ps-0 align-self-center">
                                            <p class="small mb-0">Per Ticket Sold</p>
                                        </div>
                                    </div>
                                    <div class="row" id="row_modal_promoters_event_free_entrance" dmx-show="select_promoters_event_options.selectedValue==2">
                                        <div class="col-4">
                                            <input id="inp_modal_promoters_event_tickets" name="inp_modal_promoters_event_euros1" type="number" class="form-control form-control-sm">
                                        </div>
                                        <div class="col ps-0 align-self-center">
                                            <p class="small mb-0">Tickets for free entrance</p>
                                        </div>
                                    </div>

                                </div>


                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <p class="small mb-2">Add users that will get the referral bonus </p>
                                    <hr class="mt-0">
                                    <input id="input_modal_promoters_event" name="input_modal_promoters_event" type="text" class="form-control form-control-sm" is="dmx-autocomplete" dmx-bind:data="sc_get_users.data.query_users" optiontext="username" placeholder="username" dmx-on:updated="run({condition:{if:`modal_promoters_event.input_modal_promoters_event.value!=0`,then:{steps:[{run:{action:`arr_promoters_event.addUniq(value)`}},{run:{action:`modal_promoters_event.input_modal_promoters_event.setValue(null)`}}]}}})" optionvalue="username">


                                </div>
                            </div>

                            <div class="row mt-3 mb-3">
                                <p class="small text-center mb-1">Users Added</p>
                                <div class="table-responsive text-center">
                                    <table class="table table-bordered table-sm mb-0">
                                        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="arr_promoters_event.items" id="tableRepeat_promoters_event" key="$key">
                                            <tr>
                                                <td class="small align-middle">{{$value}}</td>
                                                <td class="text-center align-middle">
                                                    <i class="bi-trash text-danger font_15" dmx-on:click="arr_promoters_event.remove($value)"></i>


                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row pt-3">
                                <div class="col">
                                    <button id="btn_cancel_modal_promoters" class="btn btn-outline-primary btn-sm w-100" dmx-on:click="arr_promoters_event.empty();inp_modal_promoters_event_tickets.setValue(null);inp_modal_promoters_event_euros.setValue(null);modal_promoters_event.hide()">Cancel</button>
                                </div>
                                <div class="col">
                                    <button id="btn_yes_modal_promoters" class="btn btn-sm btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#modal_promoters_event">Yes, I am sure</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal_eventtype_event" is="dmx-bs5-modal" tabindex="-1">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center">
                                    <p class="small mb-2">Add the Dance Style and Type of Event in simple words</p>
                                    <div class="row pb-3">
                                        <div class="pe-0 col-10"><input id="input_modal_type_event" name="modal_type_event" type="text" class="form-control form-control-sm" placeholder="ex: tango"></div>
                                        <div class="col-2 text-center align-self-center text-secondary">
                                            <i class="bi-plus-square" dmx-on:click="run({condition:{if:`modal_eventtype_event.input_modal_type_event.value!=0`,then:{steps:[{run:{action:`arr_event_types.addUniq(input_modal_type_event.value)`}},{run:{action:`modal_eventtype_event.input_modal_type_event.setValue(null)`}}]}}})"></i>
                                        </div>
                                    </div>

                                    <div class="row" is="dmx-repeat" id="repeat_event_types" dmx-bind:repeat="arr_event_types.items">
                                        <div class="col pb-2">
                                            <button id="btn_event_type" class="btn btn-sm btn-secondary font_12" dmx-text="$value" dmx-on:click="arr_event_types.remove($value)">Button</button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <button id="btn_cancel_modal_eventtype" class="btn btn-outline-primary btn-sm w-100" dmx-on:click="arr_event_types.empty();modal_eventtype_event.hide()">Cancel</button>
                                </div>
                                <div class="col">
                                    <button id="btn_yes_modal_eventtype" class="btn btn-sm btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#modal_eventtype_event">Yes, I am sure</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal_delete_event" is="dmx-bs5-modal" tabindex="-1">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center border-bottom">
                                    <p class="small mb-1">Are you sure you want to delete this beautiful work?</p>

                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <button id="btn_no_modal_delete_event" class="btn btn-outline-primary btn-sm w-100" data-bs-toggle="modal" data-bs-target="#modal_delete_event">No, please not</button>
                                </div>
                                <div class="col">
                                    <button id="btn_yes_modal_delete_event" class="btn btn-sm btn-outline-danger w-100" dmx-on:click="arr_teachers_event.empty();arr_scanners_event.empty();arr_promoters_event.empty();arr_event_types.empty();toasts_main.show({message: 'Event deleted. '});modal_delete_event.hide();var_passo_new_event.setValue(1);browser_main.scrollYBy(0)">Yes, I am sure</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal_participate_as_leader" is="dmx-bs5-modal" tabindex="-1">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center border-bottom ps-1 pe-1">
                                    <p class="small mb-0">You are about to register for this event as</p>

                                    <p class="mb-1 text-danger">Leader</p>

                                    <p class="small mt-3 mb-2">Please respect your role during the event</p>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <button id="btn_cancel_modal_register_leader" class="btn btn-outline-primary btn-sm w-100" data-bs-toggle="modal" data-bs-target="#modal_participate_as_leader">Cancel</button>
                                </div>
                                <div class="col">
                                    <button id="btn_pay_modal_register_leader" class="btn btn-sm btn-outline-primary w-100" dmx-on:click="modal_participate_as_leader.hide();modal_after_pay_participation.show()">Pay</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal_participate_as_follower" is="dmx-bs5-modal" tabindex="-1">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center border-bottom ps-1 pe-1">
                                    <p class="small mb-0">You are about to register for this event as</p>

                                    <p class="mb-1 text-danger">Follower</p>

                                    <p class="small mt-3 mb-2">Please respect your role during the event</p>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <button id="btn_cancel_modal_register_follower" class="btn btn-outline-primary btn-sm w-100" data-bs-toggle="modal" data-bs-target="#modal_participate_as_follower">Cancel</button>
                                </div>
                                <div class="col">
                                    <button id="btn_pay_modal_register_follower" class="btn btn-sm btn-outline-primary w-100" dmx-on:click="modal_participate_as_follower.hide();modal_after_pay_participation.show()">Pay</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal_pay_invite" is="dmx-bs5-modal" tabindex="-1">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row ms-0 me-0">
                                <div class="col text-center ps-1 pe-1">
                                    <p class="small mb-0">Thank you for giving this present to your friend</p>

                                    <p class="mb-1 text-primary small">UserName</p>

                                </div>
                            </div>
                            <div class="row ms-0 me-0">
                                <div class="col text-center border-bottom pb-2 ps-1 pe-1">
                                    <p class="small mb-0">The value of xxx $ will be debited in your account and</p>


                                    <p class="mb-1 small text-primary">UserName</p>

                                    <p class="small mb-0">will get the ticket.</p>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <button id="btn_cancel_modal_pay_invite" class="btn btn-outline-primary btn-sm w-100" dmx-on:click="modal_pay_invite.hide()">Cancel</button>
                                </div>
                                <div class="col">
                                    <button id="btn_ok_modal_pay_invite" class="btn btn-sm btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#modal_pay_invite">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal_request_cancelation" is="dmx-bs5-modal" tabindex="-1">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center border-bottom">
                                    <p class="small mb-1">Are you sure you want to request the cancelation of this great event?</p>

                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <button id="btn_noway_modal_request_cancelation" class="btn btn-outline-primary btn-sm w-100" data-bs-toggle="modal" data-bs-target="#modal_request_cancelation">No way</button>
                                </div>
                                <div class="col">
                                    <button id="btn_unfortunately_modal_request_cancelation" class="btn btn-sm btn-outline-danger w-100" data-bs-toggle="modal" data-bs-target="#modal_request_cancelation">Unfortunately</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal_delete_account" is="dmx-bs5-modal" tabindex="-1">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center border-bottom">
                                    <p class="small mb-1">Are you sure you want to DELETE forever this account and all data?</p>

                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <button id="btn_cancel_modal_delete_account" class="btn btn-outline-primary btn-sm w-100" dmx-on:click="modal_delete_account.hide()">Cancel</button>
                                </div>
                                <div class="col">
                                    <button id="btn_yes_modal_delete_account" class="btn btn-sm btn-outline-danger w-100" dmx-on:click="run([{run:{action:`toasts_main.show({message: \'Account deleted!\'})`}},{wait:{delay:1000}},{run:{action:`browser_main.goto(\'/\')`}}])">Yes, I'm sure</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal_subscribe_content" is="dmx-bs5-modal" tabindex="-1">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center border-bottom">
                                    <p class="small mb-1">Thank you for your interest. For the fee of xx Euros monthly you will start having access to original content posted by: <span class="text-primary">UserName</span></p>

                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <button id="btn_cancel_modal_delete_account2" class="btn btn-outline-primary btn-sm w-100" data-bs-toggle="modal" data-bs-target="#modal_subscribe_content">Cancel</button>
                                </div>
                                <div class="col">
                                    <button id="btn_cancel_modal_delete_account3" class="btn btn-outline-primary btn-sm w-100" data-bs-toggle="modal" data-bs-target="#modal_subscribe_content">Great</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal_invitation_received" is="dmx-bs5-modal" tabindex="-1">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center border-bottom">
                                    <p class="mb-1">You have been invited to participate in this event by <span class="text-primary" dmx-on:click="browser_main.goto('/account/mainpage_as_viewer')">UserName</span></p>

                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <button id="btn_yes_modal_delete_account1" class="btn btn-sm btn-outline-danger w-100" data-bs-toggle="modal" data-bs-target="#modal_invitation_received">No Thanks</button>
                                </div>
                                <div class="col">
                                    <button id="btn_cancel_modal_delete_account1" class="btn btn-outline-primary btn-sm w-100" dmx-on:click="session_main.set('event_status','attending');browser_main.goto('/event')">Great! I'm in</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal_edit_phone" is="dmx-bs5-modal" tabindex="-1">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center border-bottom">
                                    <input id="input_add_phone" name="text4" type="text" class="form-control mb-3" placeholder="Please add you new Phone">

                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <button id="btn_cancel_modal_edith_phone" class="btn btn-outline-primary btn-sm w-100" dmx-on:click="input_add_phone.setValue(0);modal_edit_phone.hide()">Cancel</button>
                                </div>
                                <div class="col">
                                    <button id="btn_yes_modal_edith_phone" class="btn btn-sm w-100 btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal_edit_phone">Yes, I'm sure</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal_edit_email" is="dmx-bs5-modal" tabindex="-1">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center border-bottom">
                                    <input id="input_add_email" name="text5" type="text" class="form-control mb-3" placeholder="Please add your new email">

                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <button id="btn_cancel_modal_edit_email" class="btn btn-outline-primary btn-sm w-100" dmx-on:click="input_add_email.setValue(0);modal_edit_email.hide()">Cancel</button>
                                </div>
                                <div class="col">
                                    <button id="btn_yes_modal_edit_email" class="btn btn-sm w-100 btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal_edit_email">Yes, I'm sure</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal_set_fee" is="dmx-bs5-modal" tabindex="-1">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center border-bottom">
                                    <p class="fw-bold mb-3">Value charged monthly</p>

                                    <input id="inp_value_monthly_fee_mask" name="inp_value_monthly_fee_mask" type="text" class="form-control mb-3" data-thousands="." data-decimal="," data-prefix="Є " placeholder="Є">

                                    <textarea id="input_text_set_fee" class="form-control small mb-2" placeholder="Write a message to your new Subscriber"></textarea>

                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <button id="btn_cancel_modal_set_fee" class="btn btn-outline-primary btn-sm w-100" dmx-on:click="inp_value_monthly_fee_mask.setValue(0);input_text_set_fee.setValue(0);modal_set_fee.hide()">Cancel</button>
                                </div>
                                <div class="col">
                                    <button id="btn_ok_modal_set_fee" class="btn btn-sm btn-outline-danger w-100" data-bs-toggle="modal" data-bs-target="#modal_set_fee">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal_attending_event" is="dmx-bs5-modal" tabindex="-1">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center border-bottom">
                                    <p class="small mb-0">Thank for attending the event.</p>
                                    <p class="small mb-1">Please Rate your experience.</p>
                                    <div class="row mt-2">
                                        <div class="col text-muted text-center pb-2">
                                            <i class="bi-emoji-dizzy"></i>
                                            <i class="bi-emoji-frown"></i>
                                            <i class="bi-emoji-neutral "></i>
                                            <i class="bi-emoji-smile text-primary"></i>
                                            <i class="bi-emoji-heart-eyes"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row pt-3">
                                <div class="col text-center">
                                    <p class="small">Comment your experience</p>
                                    <textarea id="input_modal_attending_event" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 w-auto">
                            <div class="col text-center">
                                <button id="btn_done_modal_attending_event" class="btn btn-outline-primary btn-sm w-75" data-bs-toggle="modal" data-bs-target="#modal_attending_event">Done</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal_share_invite" is="dmx-bs5-modal" tabindex="-1">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center border-bottom">
                                    <p class="small mb-0 ps-3 pe-3">Thank you for sharing this event with your friend.</p>
                                </div>

                            </div>
                        </div>
                        <div class="row mt-3 w-auto">
                            <div class="col text-center">
                                <button id="btn_ok_modal_share_invite" class="btn btn-outline-primary btn-sm w-75" dmx-on:click="modal_share_invite.hide()">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal_after_pay_participation" is="dmx-bs5-modal" tabindex="-1">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center border-bottom">
                                    <p class="small mb-0">Thank you for registering in this experience.</p>
                                    <p class="small mb-2">Enjoy and rate it after.</p>
                                </div>

                            </div>
                        </div>
                        <div class="row mt-3 w-auto">
                            <div class="col text-center">
                                <button id="btn_ok_modal_after_pay_participation" class="btn btn-outline-primary btn-sm w-75" dmx-on:click="session_main.set('event_status','attending');modal_after_pay_participation.hide()">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal_request_funds_transfer" is="dmx-bs5-modal" tabindex="-1">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center border-bottom">
                                    <p class="mb-0 fw-bold">For security reasons please provide prove of the Event Ownership.</p>
                                    <p class="small mt-3 mb-3">Please upload your contract with the Venue of the event with dates, adress and signatures of both parties. You can grade out sensitive information like values and special conditions.</p>
                                    <p class="small mb-2">After the validation of these documents by DANCEID team your monthly transfer of the funds will be authorised.</p>
                                </div>

                            </div>
                        </div>
                        <div class="row mt-3 w-auto">
                            <div class="col text-center">
                                <button id="btn_upload_modal_set_fee" class="btn btn-outline-primary btn-sm w-75" dmx-on:click="modal_request_funds_transfer.hide()">Upload</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>

    <script>
        $(function() {
        $("#inp_modal_promoters_event_euros").maskMoney();
        $("#inp_value_monthly_fee_mask").maskMoney();
        })
    </script>

    <div class="text-center container ctn_frame center d-none d-md-block" id="ctn_iframe_main">
        <iframe src="" width="414" height="896" class="border_iframe" dmx-bind:src="browser_main.location.pathname" dmx-bind:height="browser_main.viewport.height"></iframe>
    </div>

</body>

</html>